<!DOCTYPE HTML>
<html lang="en-US" ng-app="mb">
<head>
  <meta charset="UTF-8">
  <title>Mockingbird - The Simulator</title>
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="mb.css">
</head>
<body>
<div id="layout">

  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
    <div id="contact">

      <!-- Settings of Tester -->
      <div class="panel panel-default" id="me">
        <div class="panel-heading" ng-model="meName" contenteditable>Me</div>
        <div class="panel-body">
          <input type="text" class="form-control" ng-model="meId" ng-init="meId='abcdefghijklmnopqrstuvwxyz28'" placeholder="OpenId of Me">
        </div>
      </div>

      <!-- Settings of MP -->
      <div class="panel panel-default" id="mp">
        <div class="panel-heading" ng-model="mpName" contenteditable>MP</div>
        <div class="panel-body">
          <input type="text" class="form-control" ng-model="mpId" ng-init="mpId='gh_abcdefghijklmn'" placeholder="OpenId of MP">
          <input type="text" class="form-control" ng-model="Handler" ng-init="Handler='http://localhost:8080/weixin'" placeholder="Handler">
        </div>
      </div>

    </div>
  </div>

  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" >
    <div class="panel panel-default" ng-controller="ConversationCtrl" style="border:0;">

      <div class="panel-body" style="padding:0;">
        <div class="chatMainPanel">
          <div class="chatTitle">{{ mpName }}</div>
          <div class="chatScroll">
            <div class="chatContent">
              <div class="chatItem {{ item.owner }}" ng-repeat="item in conversations">

<!-- TextMsg -->
<div class="chatItemContent" ng-if="isTextMsg(item)">
  <img class="avatar" src="http://placekitten.com/80/80" title="{{ getOwnerName(item) }}" />
  <div class="cloud cloudText">
    <div class="cloudPannel">
      <div class="sendStatus"></div>
      <div class="cloudBody">
        <div class="cloudContent">
          <span style="white-space:pre-wrap">{{ item.content.Content.toString() }}</span>
        </div>
      </div>
      <div class="cloudArrow "></div>
    </div>
  </div>
</div>
<!-- TextMsg -->

<!-- SingleNews -->
<div class="media mediaFullText" ng-if="isSingleNews(item)">
  <a href="{{ item.content.Articles.item.Url.toString() }}" style="text-decoration: none;" target="_blank"></a>
  <div class="mediaPanel">
    <a href="{{ item.content.Articles.item.Url.toString() }}" style="text-decoration: none;" target="_blank">
      <div class="mediaHead">
        <span class="title left">{{ item.content.Articles.item.Title.toString() }}</span>
        <span class="time right">{{ date().getMonth()+1 }}-{{ date().getDate() }}</span>
        <div class="clr"></div>
      </div>
      <div class="mediaImg">
        <img src="{{ item.content.Articles.item.PicUrl.toString() }}" style="height: 180px; width: 360px;">
      </div>
      <div class="mediaContent mediaContentP">
        <p>{{ item.content.Articles.item.Description.toString() }}</p>
      </div>
    </a>
    <div class="mediaFooter">
      <a href="{{ item.content.Articles.item.Url.toString() }}" style="text-decoration: none;" target="_blank"></a>
      <a href="{{ item.content.Articles.item.Url.toString() }}" style="text-decoration: none;" target="_blank">
        <span class="mesgIcon left"></span>
        <span class="left" style="line-height:39px;">查看全文</span>
        <div class="clr"></div>
      </a>
    </div>
  </div>
</div>
<!-- SingleNews -->

<!-- MultiNews -->
<div class="chatItem you" ng-if="isMultiNews(item)">
  <div class="media">
    <div class="mediaPanel">

      <a href="{{ item.content.Articles.item[0].Url.toString() }}" target="_blank">
        <div class="mediaImg">
          <div class="mediaImgPanel">
            <img src="{{ item.content.Articles.item[0].PicUrl.toString() }}" style="visibility: inherit; height: 180px; width: 360px; top: -9.25px; left: 0px;">
          </div>
          <div class="mediaImgFooter">
            <p class="mesgTitleTitle left">{{ item.content.Articles.item[0].Title.toString() }}</p>
            <div class="clr"></div>
          </div>
        </div>
      </a>

      <div class="mediaContent">
        <a href="{{ i.Url.toString() }}" target="_blank" ng-repeat="i in item.content.Articles.item.slice(1)">
          <div class="mediaMesg">
            <span class="mediaMesgDot"></span>
            <div class="mediaMesgTitle left">
              <p class="left">{{ i.Title.toString() }}</p>
              <div class="clr"></div>
            </div>
            <div class="mediaMesgIcon right">
              <img src="{{ i.PicUrl.toString() }}"></div>
            <div class="clr"></div>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>
<!-- MultiNews -->

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-footer">
        <div id="input">
          <form class="form-inline" ng-submit="submit()">
              <div class="form-group">
                <input type="text" class="form-control" ng-model="textInput" >
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-default">Send</button>
              </div>
          </form>
        </div>
      </div>

    </div>
  </div>

</div>

<!-- Load javascript only when dom is ready -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.js"></script>
<script type="text/javascript" src="xml2json.js" ></script>
<script type="text/javascript" src="bootstrap.min.js" ></script>
<script type="text/javascript" src="mb.js" ></script>

</body>
</html>